section.archived {

    .blogs {
        display: grid;
        gap: 32px;


        a {
            text-decoration: none;
        }

        article.blog-card {
            box-shadow: 0 1px 2px 0 rgb(0 0 0 / .05);
            background-color: hsl(var(--card));
            overflow: hidden;
            border-radius: 8px;
            border: 1px solid hsl(var(--border));
            transition: .3s;
            height: -webkit-fill-available;

            h3,
            img {
                transition: .3s;
            }

            a:has(img) {
                position: relative;
                overflow: hidden;
                height: 190px;
                display: flex;

                img {
                    width: 100%;
                    height: 190px;
                    object-fit: cover;
                }
            }


            svg {
                width: 16px;
                height: 16px;
                color: hsl(var(--gold));
            }

            a span {
                position: absolute;
                left: 16px;
                text-transform: uppercase;
                padding: 4px 12px;
                background: hsl(var(--gold));
                color: hsl(var(--primary-foreground));
                z-index: 11;
                margin-top: 16px;
                border-radius: 4px;
                font-weight: 600;
                display: flex;
                align-items: center;
                height: 24px;
            }

            .read-more {
                transition: .3s;
                gap: 8px;
                align-items: center;
                font-weight: 600;
            }

            .excerpt {
                p {
                    margin-bottom: 0;
                    font-size: 14px;
                    color: hsl(var(--foreground));
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                }
            }

            .content {
                padding: 24px;
            }

            &:hover {
                box-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);

                h3 {
                    color: hsl(var(--gold));
                }

                .read-more {
                    gap: 12px;
                }
            }

        }
    }

    .side-bar {
        position: sticky;
        top: 15%;

        .category-box {
            padding: 24px;
            border-radius: 8px;
            background-color: hsl(var(--muted));

            ul {
                list-style: none;
                padding: 0 !important;
                margin: 0;

                li {
                    &:not(:last-of-type) {
                        margin-bottom: 0px;
                    }

                    a {
                        display: flex;
                        gap: 8px;
                        justify-content: space-between;
                        padding: 8px 12px;
                        text-decoration: none;
                        transition: .3s;
                        border-radius: 8px;
                        font-size: 16px;
                        color: rgb(31, 59, 97);

                        &:hover {
                            background-color: hsl(var(--background));
                        }
                    }
                }
            }
        }

        .free-estimate {
            background-color: hsl(var(--primary));
            padding: 24px;
            border-radius: 8px;

            p {
                color: #fffc;
            }
        }
    }

    @media (min-width: 1025px) {
        .wrapper>.d-flex {
            gap: 48px;
            justify-content: space-between;

            >div {
                width: 100%;
                height: 100%;
            }

            .blogs {
                max-width: 900px;
            }

            .side-bar {
                max-width: 425px;
            }
        }
    }

    @media (max-width: 1024px) {
        .wrapper>.d-flex {
            gap: 40px;
            flex-direction: column;
        }
    }

    @media (min-width: 768px) {
        .blogs {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }

    @media (max-width: 767px) {}
}

section.cta_group {
    background-color: hsl(var(--primary));

    .content {
        max-width: 768px;
        margin: auto;
        text-align: center;
    }

    @media (min-width: 1200px) {
        padding: 80px 0;
    }

    .note,
    .note a {
        color: hsl(var(--primary-foreground) / .6);
    }
}