section.archived {

    .blogs {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        display: grid;
        gap: 32px;


        a {
            text-decoration: none;
        }

        article.blog-card {
            box-shadow: 0 1px 2px 0 rgb(0 0 0 / .05);
            background-color: hsl(var(--card));
            overflow: hidden;
            border-radius: 8px;
            border: 1px solid hsl(var(--border));
            transition: .3s;
            height: max-content;

            h3,
            img {
                transition: .3s;
            }

            a:has(img) {
                position: relative;
                overflow: hidden;
                height: 190px;
                display: flex;

                img {
                    width: 100%;
                    height: 190px;
                    object-fit: cover;
                }
            }


            svg {
                width: 16px;
                height: 16px;
                color: hsl(var(--gold));
            }

            a span {
                position: absolute;
                left: 16px;
                text-transform: uppercase;
                padding: 4px 12px;
                background: hsl(var(--gold));
                color: hsl(var(--primary-foreground));
                z-index: 11;
                margin-top: 16px;
                border-radius: 4px;
                font-weight: 600;
                display: flex;
                align-items: center;
                height: 24px;
            }

            .read-more {
                transition: .3s;
                gap: 8px;
                align-items: center;
            }

            .excerpt {
                p {
                    margin-bottom: 0;
                    font-size: 14px;
                    color: hsl(var(--foreground));
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                }
            }

            .content {
                padding: 24px;
            }

            &:hover {
                box-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);

                h3 {
                    color: hsl(var(--gold));
                }

                .read-more {
                    gap: 12px;
                }
            }

        }
    }

    .side-bar {
        .category-box {
            padding: 24px;
            border-radius: 8px;
            background-color: hsl(var(--muted));

            ul {
                list-style: none;
                padding: 0 !important;

                li {
                    &:not(:last-of-type) {
                        margin-bottom: 12px;
                    }

                    a {
                        display: flex;
                        gap: 8px;
                        justify-content: space-between;
                        padding: 12px 8px;
                        text-decoration: none;
                        transition: .3s;

                        &:hover {
                            background-color: hsl(var(--background));
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 1025px) {
        .wrapper>.d-flex {
            gap: 48px;
            justify-content: space-between;

            >div {
                width: 100%;
            }

            .blog {
                max-width: 900px;
            }

            .side-bar {
                max-width: 425px;
            }
        }
    }

    @media (max-width: 1024px) {
        .wrapper>.d-flex {
            gap: 40px;
            flex-direction: column;
        }
    }

    @media (min-width: 768px) {}

    @media (max-width: 767px) {}
}