@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('header.css');
@import url('footer.css');

body {
    font-family: "Montserrat", sans-serif;
}

:root {
    --background: 210 25% 97%;
    --foreground: 214 52% 25%;
    --card: 0 0% 100%;
    --card-foreground: 214 52% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 214 52% 25%;
    --primary: 214 52% 25%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 25% 97%;
    --secondary-foreground: 214 52% 25%;
    --muted: 210 20% 94%;
    --muted-foreground: 214 30% 45%;
    --accent: 41 62% 56%;
    --accent-foreground: 214 53% 18%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 214 20% 85%;
    --input: 214 20% 85%;
    --ring: 17 89% 62%;
    --radius: .5rem;
    --cta: 17 89% 62%;
    --cta-foreground: 0 0% 100%;
    --navy-dark: 214 53% 18%;
    --gold: 41 62% 56%;
}


h1,
.h1 {
    line-height: 1.2;
    color: var(--navy-dark);
    font-weight: 700;
    letter-spacing: -1.2px;
}

h2,
.h2 {
    font-weight: 700;
    line-height: 1.25;
    font-weight: 700;
    color: var(--navy-dark);
}

h3,
.h3 {
    font-weight: 600;
    line-height: 1.3;
    font-weight: 700;
    color: var(--navy-dark);
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}

.small-text {
    font-size: 14px;
    font-weight: 500;
}

.x-small-text {
    font-size: 12px;
    font-weight: 500;
}

.subheading {
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
}

.bg-cta,
.bg-trans,
.bg-gold,
.bg-blue-line,
.bg-primary,
.bg-primary-foreground,
.bg-white-light,
.bg-blue {
    border-radius: 6px;
    padding: 16px 32px;
    text-decoration: none;
    color: hsl(var(--cta-foreground));
    font-weight: 600;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;

    &:has(svg) {
        gap: 8px;

        svg {
            width: 20px;
            height: 20px;
        }
    }
}

.bg-cta {
    background-color: hsl(var(--cta));

    &:hover {
        background-color: hsl(var(--cta) / .9) !important;
    }

}

.bg-primary {
    background-color: hsl(var(--primary)) !important;

    &:hover {
        background-color: hsl(var(--primary) / .9) !important;
    }

}

.bg-primary-foreground {
    color: hsl(var(--primary-foreground));
    border: 1px solid hsl(var(--primary-foreground));

    &:hover {
        background-color: hsl(var(--primary-foreground) / .1);
    }
}

.bg-gold {

    background-color: hsl(var(--gold));

    &:hover {
        background-color: hsl(var(--gold) / .9) !important;
    }
}

.bg-trans {
    border: 1px solid hsl(var(--primary-foreground));

    &:hover {
        background-color: hsl(var(--primary-foreground));
        color: hsl(var(--foreground)) !important;
    }
}

.bg-white-light {
    background: #fff;

    &:hover {
        background-color: #ffffffe6;
    }
}

.bg-blue-line {

    border: 1px solid hsl(var(--primary));
    color: hsl(var(--primary));
    --tw-ring-offset-color: hsl(var(--background));

    &:hover {
        background-color: hsl(var(--primary));
        color: #fff !important;
        border: 1px solid #fff;
    }
}

.bg-blue {

    background-color: hsl(var(--primary));

    &:hover {
        background-color: hsl(var(--primary) / .9);
    }
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-16 {
    font-size: 16px;
}

.fs-20 {
    font-size: 20px;
}

.fs-24 {
    font-size: 24px;
}

.h-40 {
    height: 40px;
}

.h-44 {
    height: 44px;
}

.h-48 {
    height: 48px;
}

.h-56 {
    height: 56px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-24 {
    margin-bottom: 24px;
}

.text-cta {
    color: hsl(var(--cta));
}

.text-gold {
    color: hsl(var(--gold));
}

.text-foreground {
    color: hsl(var(--foreground));
}

.text-muted-foreground {
    color: hsl(var(--muted-foreground));
}

.bg-graylight {
    background-color: hsl(var(--secondary));
}

.font-semibold {
    font-weight: 500;
}

@media (min-width: 1200px) {
    section {
        padding: 112px 0;
    }

    .wrapper {
        max-width: 1428px;
        padding: 0 30px;
        margin: auto;
    }

    h1,
    .h1 {
        font-size: 48px;
    }

    h2,
    .h2 {
        font-size: 40px;
    }

    h3,
    .h3 {
        font-size: 30px;
    }

    p,
    .fs-18,
    .subheading {
        font-size: 18px;
    }
}

@media (max-width: 1199px) {
    section {
        padding: 80px 30px;
    }

    h1,
    .h1 {
        font-size: 40px;
    }

    h2,
    .h2 {
        font-size: 32px;
    }

    h3,
    .h3 {
        font-size: 24px;
    }

    p,
    .fs-18,
    .subheading {
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    .mb-32 {
        margin-bottom: 32px;
    }

    .mb-40 {
        margin-bottom: 40px;
    }

    .mb-48 {
        margin-bottom: 48px;
    }
}

@media (max-width: 991px) {

    .mb-32 {
        margin-bottom: 27px;
    }

    .mb-40 {
        margin-bottom: 35px;
    }

    .mb-48 {
        margin-bottom: 42px;
    }
}

@media (max-width: 767px) {
    section {
        padding: 60px 8px;
    }
}

@media (max-width: 575px) {

    h1,
    .h1 {
        font-size: 35px;
    }

    .looking-something .d-flex,
    .cta_group {
        flex-direction: column;
    }
}